{
  "AuthFunction": {
    "COGNITO_USER_POOL_ID": "",
    "COGNITO_CLIENT_ID": ""
  },
  "RecordTransactionFunction": {
    "TRANSACTIONS_TABLE_NAME": "transactions-table-dev",
    "ENVIRONMENT_NAME": "dev",
    "POWERTOOLS_LOG_LEVEL": "DEBUG",
    "DYNAMODB_ENDPOINT": "http://dynamodb-local:8000",
    "AWS_REGION": "eu-west-2",
    "COGNITO_USER_POOL_ID": "",
    "COGNITO_CLIENT_ID": ""
  }
}