{
  "RecordTransactionFunction": {
    "TRANSACTIONS_TABLE_NAME": "transactions-table-dev",
    "ENVIRONMENT_NAME": "dev",
    "POWERTOOLS_LOG_LEVEL": "DEBUG",
    "DYNAMODB_ENDPOINT": "http://dynamodb-local:8000"
  }
}